@font-face { font-family: archivo; 
    src: url('../MyPortfolio-main/font/Archivo/Archivo-VariableFont_wdth\,wght.ttf'); 
} 
@font-face { font-family: mavenpro; 
    src: url('../MyPortfolio-main/font/Maven_Pro/MavenPro-VariableFont_wght.ttf'); 
} 
body{
    user-select:none;
    background: #29a17d;
}

/**Cabeçalho**/
header{
    display: flex;
    justify-content:end;
    align-items: center;
    height: 10vh;
    
}
.ulheader{
    margin-right: 30px;
    display: inline-flex;
    animation: fade 400ms ease-in; 
    gap: 15px; 
    align-items: center;   
}
.ulheader .Dcurriculo{
    background: #F95959;
    color: #f0ffff;
    font: 16px archivo; 
    font-weight: 800;
    width: 10vw;
    box-shadow: 0px 2px 3px #2b2b2b;
}
.Dcurriculo:hover{
    background: #e44f4f;
    transition: all 200ms ease-in-out;
}
.ulheader .pt_en{
    cursor: default;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #f0ffff;
    background: #435055a7;
    width: 5vw;
    height: 55px;
    border-radius: 10px;
    gap: 10px;
    border: solid 1.5px #435055;
    
}
.buttoncolor{
    border: solid 1px #435055;
    background: linear-gradient(to left, #29a17d 50%, #435055 50%);
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.buttoncolor:nth-child(2){
    border: solid 1px #dee0e0;
    background: linear-gradient(to left, #F7C04A 50%, #dee0e0 50%);
}
.buttoncolor:hover{
    transition: all 250ms ease;
    box-shadow: 0px 0px 10px #2b2b2b;
}
.buttoncolor:hover:nth-child(2){
    box-shadow: 0px 0px 10px #F7C04A;
}
/****/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .slider {
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dee0e0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    border-radius: 20%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #29a17d;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #dee0e0;
  }
  
  /**input:focus + .slider {
    box-shadow: 0 0 1px #435055;
  }
  **/

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #F7C04A;
  }
/****/
/**Corpo**/
.principal{
    border-radius: 10px;
    position: absolute;
    top: 20%;
    right: 23%;
    display: inline-flex;
    background: transparent;
    box-shadow: 0px 5px 10px #2b2b2b;
    animation: fade 400ms ease-in;
  
}
.principal2{
    border-radius: 10px;
    position: absolute;
    top: 20%;
    display: none;
    background: transparent;
    box-shadow: 0px 5px 1px #2b2b2b;
    animation: fade 400ms ease-in;
    right: 23%;
}
.principal3{
    border-radius: 10px;
    position: absolute;
    top: 20%;
    display: none;
    background: transparent;
    box-shadow: 0px 5px 10px #2b2b2b;
    animation: fade 400ms ease-in;
    right: 23%;
}
.cont{
    display:flex;
    justify-content: center;
    align-items: center; 
    background: #27323A;
    width: 40vw;
    height: 60vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: #dee0e0;
}

.imguser{
    border-radius:50rem;
    width: 180px;
    height: 180px;
    border: 2px solid #f0ffff96;

}
.text{
    margin-bottom: 5vh;
    margin-top: 60px;
    font: 20px mavenpro;
    font-weight: 400;
    margin-left: 40px;
    margin-right: 40px;
    word-break: break-all;
}


/** menu **/
.menu{
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background: #dee0e0;
    width: 15vw;;
    display: flex;
    justify-content: center;  
    align-items: center;
}
.limenu{
    margin: 35px 0;
}
button{
    cursor: pointer;
    border-radius: 10px;
    width: 185px;
    height: 65px;
    border: none;
}
button:hover{ 
    transition: all 200ms;
}
.contactme{
    transition: all 200ms ease;
    font: 15px archivo; 
    font-weight: 800;
    color: #dee0e0;
    background: #435055;
    font-size: 15px;
    margin-top: 8vh;
}
#contactmehover:hover{
    background: #29a17d;
}
.buttonmenu{
    font: 20px mavenpro;  
    font-weight: 450;
    background: transparent; 
}
.buttonmenu:hover{ 
    background: #cecfcf;
}


/** social **/
.social{
    font-family: archivo;
    background:#435055;
    width: 40vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
     
}
.social:nth-child(1){
    border-top-right-radius: 0;
    border-top-left-radius: 10px;  
    top: 0;
}
.social:nth-child(5){
    bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
    
}
.social:nth-child(4){
    bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
}
a{
    color: #dee0e0;
}
ul{
   list-style: none;
   padding: 0px;
   text-align: center;
}
.lisocial{
    display: inline;
    margin: 0 15px;
}
li:hover{
    cursor: pointer;   
}

/**ANIMATION**/
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes increase{
    from{
        scale: 0.90;
    }
    to{
        scale: 1.0;
    }
}
