@font-face {
    font-family: archivo;
    src: url('font/Archivo/Archivo-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: mavenpro;
    src: url('font/Maven_Pro/MavenPro-VariableFont_wght.ttf');
}

body {
    user-select: none;
    background: #c5d7d2;
    overflow: hidden;
    transition: background-color 0.3s
}

/**Corpo**/
.principal0 {
    border-radius: 10px;
    position: absolute;
    top: 5%;
    right: 5%;
    display: inline-flex;
    background: transparent;
    box-shadow: -5px 5px 3px #2b2b2b71;
    animation: fade 400ms ease-in;

}

.principal {
    border-radius: 10px;
    position: absolute;
    top: 5%;
    right: 5%;
    display: none;
    background: transparent;
    box-shadow: -5px 5px 3px #2b2b2b71;
    animation: fade 400ms ease-in;

}

.principal2 {
    border-radius: 10px;
    position: absolute;
    top: 5%;
    right: 5%;
    display: none;
    background: transparent;
    box-shadow: -5px 5px 3px #2b2b2b71;
    animation: fade 400ms ease-in;
}

.principal3 {
    border-radius: 10px;
    position: absolute;
    top: 5%;
    right: 5%;
    display: none;
    background: transparent;
    box-shadow: -5px 5px 3px #2b2b2b71;
    animation: fade 400ms ease-in;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F5F2;
    width: 65vw;
    height: 90vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: #27323A;
    transition: background-color 0.3s
}

.imguser {
    border-radius: 50%;
    width: 240px;
    height: 240px;
}

.imgu {
    display: block;
}

.imgu::before {
    content: '';
    position: absolute;
    width: 255px;
    height: 255px;
    border: 5px solid #4BAEA0;
    border-radius: 50%;
    transform: translate(-12px, -12px);
}

.mynome {
    font-family: archivo;
    margin-top: 30px;
}

.reference {
    position: relative;
    bottom: -5%;
}

.text {
    margin-top: 20px;
    font: 20px mavenpro;
    font-weight: 600;
    width: 30vw;
    margin-left: 40px;
    margin-right: 40px;
    word-break: break-all;
}

.ulsocial {
    margin-bottom: 30px;
    margin-top: 30px;
}

.lisocial {
    display: inline;
    margin: 0 10px;
}

.divsocial {
    width: 50px;
    height: 50px;
    background: #27323A;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.divsocial:hover {
    background: #4BAEA0;
    transition: 300ms;
}

a {
    color: #F7F5F2;
}

/** menu **/
.menu {
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #4BAEA0;
    width: 25vw;
    display: flex;
    justify-content: center;
}

.limenu {
    margin: 4.3vh 0;
}

.ulmenu {
    margin-bottom: 10vh;
    margin-left: 5vw;
}

.Dcurriculo {
    background: #FF6969;
    color: #F7F5F2;
    width: 315px;
    word-spacing: 15px;
}

.Dcurriculo:hover {
    background: #e44f4f;
}

button {
    letter-spacing: 1.2px;
    font: 18px archivo;
    font-weight: 800;
    transition: 300ms;
    cursor: pointer;
    border-radius: 10px;
    width: 220px;
    height: 70px;
    border: none;
    color: #F7F5F2;
}

button:hover {
    transition: 300ms;
}

.buttonmenu {
    font: 21px mavenpro;
    font-weight: 550;
    background: transparent;
    text-align: right;
}

.buttonmenu:hover {
    background: #429a8e;
    padding-right: 20px;
}

.vazio {
    height: 70px;
}

/**Cabeçalho**/
.ulheader {
    display: inline-flex;
    animation: fade 400ms ease-in;
    right: -13.5vw;
    top: -12vh;
    position: relative;
}

.ulheader .lenguage_colors {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 10.6vw;
    /*box-shadow: 0 0 5px #435055;*/
}

/**Idioma**/
.select-lenguage {
    display: flex;
}

.ulheader .select-button {
    cursor: pointer;
    display: inline-flex;
    width: 4.8vw;
    height: 35px;
    background: #F7F5F2;
    border-radius: 10px;
    cursor: pointer;
    font: 15px archivo;
    align-items: center;
    justify-content: space-between;
    color: #27323A;
}

.select-option {
    cursor: default;
    background: #F7F5F2;
    border-radius: 10px;
    font: 15px mavenpro;
    width: 105px;
    position: absolute;
    z-index: 1;
    padding: 10px;
    margin-top: 10px;
    display: none;
    left: -0.25vw;
    box-shadow: -5px 5px 3px #2b2b2b71;
}

.select-option .option {
    display: flex;
    gap: 5px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    align-items: center;
    transition: 300ms ease-in-out;
}

.select-option .option:hover {
    background: #e2efec;
    transition: 300ms ease-in-out;
    padding-left: 10px;
}

.select-button i {
    transition: 300ms;
}

/****/

/**color mode**/
.ulheader .toggle-switch {
    position: relative;
    display: inline-block;
    width: 3.2vw;
    height: 35px;
}

.slider {
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F7F5F2;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 4px;
    bottom: 4px;
    background-color: #4BAEA0;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #F7F5F2;
}

/**input:focus + .slider {
    box-shadow: 0 0 1px #435055;
  }
  **/

input:checked+.slider:before {
    transform: translateX(25px);
    background-color: #435055;
}

/****/

/** social **/
.social {
    font: 18px archivo;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6vh;
    width: 300px;
    height: 40px;
    border-bottom: 4px solid #429a8e;
}


ul {
    list-style: none;
    padding: 0px;
    text-align: center;
}

li:hover {
    cursor: pointer;
}

/** Expêriencia **/

.contskill {
    top: 20vh;
    left: 4.5vw;
    position: absolute;

}

.skill_titulo {
    display: flex;
    text-align: left;
    font: 20px mavenpro;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 600;
}

.skill_corpo {
    padding: 10px 10px;
    font: 15px archivo;
    display: flex;
    width: 360px;
    background: #27323A;
    border-radius: 10px;
    color: #F7F5F2;
    margin-bottom: 7px;
}

.skill_controle {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill_icon {
    margin-right: 10px;
}

.skill_bar {
    background: #4BAEA0;
    margin-right: 10px;
    border-radius: 10px;
}

.descbarra {
    display: flex;
    text-align: left;
    font: 16px mavenpro;
    margin-bottom: 2px;
    font-weight: 500;
}

/****/
/**IMGS**/
.habimg {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    left: 42vw;
    bottom: 14.5vh;
    background-color: #435055;
    border-radius: 50%;
    width: 210px;
    height: 210px;
}

.carwork {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #435055;
    border-radius: 50%;
    position: relative;
    left: 19.5vw;
    bottom: -26.5vh;
    width: 210px;
    height: 210px;
}

.imgStoryset {
    width: 260px;
    height: 260px;
}

/****/
/** Carreira**/
.imgcar {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20vh;
    right: 30vw;
    border: 1px solid #279876;
    border-radius: 50%;
}

.Education {
    position: absolute;
    top: 20vh;
}

h2 {
    font: 23px mavenpro;
    right: 19vw;
    position: relative;
    text-align: left;
    font-weight: 500;
}

.Education_container {
    display: flex;
    right: 19.5vw;
    position: relative;
    text-align: left;
    gap: 50px;
}

.Education_content {
    margin: 10px;
}

.Education_Curso {
    justify-content: right;
    width: 120px;
    word-break: break-word;
    font: 18px archivo;
    font-weight: 800;
    margin: 0;
}

.Education_local,
.Education_date {
    font: 17px mavenpro;
}

.Education_Space {
    margin-top: 15px;
    margin-bottom: 15px;
}

.Education_Bola {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #4BAEA0;
}

.Education_Bola::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    border: 2px solid #4BAEA0;
    border-radius: 50%;
    transform: translate(-4.5px, -4.5px);
}

.Education_Linha {
    height: 5px;
    display: block;
    width: 165%;
    background: linear-gradient(90deg, #4BAEA0, #4BAEA000);
    transform: translate(5px, -10px);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/**Projetos**/
.Projetos {
    position: absolute;
    bottom: 7vh;

}

.h2projetos {
    right: 17vw;
}

.projetos_content {
    display: flex;
    right: 17vw;
    position: relative;
}

.projeto_img {
    border-radius: 10px;
    width: 205px;
    height: 205px;
    transition: 170ms ease-out;
}

.projeto_img:hover {
    transform: scale(1.15);
    transition: 350ms ease-in-out;
}

.projeto_ul {
    gap: 10px;
    display: inline-flex;
    position: relative;
}

/**Sobre mim**/

.about_container {
    position: relative;
    top: 7vh;

}

.about_tr {
    height: 300px;

}

td {
    width: 28vw;
}

.abaout_content {
    font: 22px mavenpro;
    font-weight: 500;
    word-break: break-all;
    text-align: left;

}

.aboutimg {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    background-color: #435055;
    border-radius: 50%;
    width: 210px;
    height: 210px;
}

/**ANIMATION**/
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}